@import '../../Theme/variables.scss';


.navigation{
    background-color: $color-principal;
    height: $height-navigation-big;
    min-width: 220px;
}

.nav{
    text-decoration: none;
    padding: 12px;
    color: $color-text-principal;
    border : 2px solid $color-text-principal;
    border-radius: 15px;
    margin-right: 2.4vw;
    font-size: clamp(0.8rem,0.85vw,2rem);
}

.nav:last-child{
    margin-right: 0px;
}

.nav:hover{
    background-color: $color-text-principal;
    color: $color-principal;
    transition: background-color 1s, color 1s;
}

.title{
    text-decoration: none;
    color:$color-text-principal;
    font-size: clamp(1.7rem,3.7vw,2.7rem);
    -webkit-tap-highlight-color: transparent; 
}

.login{
    text-decoration: none;
    padding: 12px;
    color: $color-text-principal;
    border : 2px solid $color-principal-dark;
    background-color: $color-principal-dark;
    border-radius: 15px;
    font-size: clamp(0.8rem,0.85vw,2rem);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.login:hover{
    cursor: pointer;
}


/* Affichage du menu pour petit écran désactiver */
.menu-small{
    display: none;
}
/* ----- */



/* Création de l'icone du menu + éléments d'animations */
.menuIcon{
//   width: clamp(2rem,5vw,2.5rem);
//   height: clamp(0.18rem,0.5vh,0.23rem);
  display: block;
  width: 25px;
  height: 3px;
  background: $color-text-principal;
  border-radius: 5px;
}

.menuIcon::before,
.menuIcon::after {
  content: '';
  position: absolute;
//   right: calc((100% - #{$largeur)/2);
//   width: clamp(2rem,5vw,2.5rem);
//   height: clamp(0.18rem,0.5vh,0.23rem);
  width: 25px;
  height: 3px;
  background: $color-text-principal;
  border-radius: 5px;
}

.menuIcon::before {
  transform: translateY(-9px);
}
.menuIcon::after {
  transform: translateY(9px);
}
  

@media (max-width : 1060px){

    /* Affichage du menu pour grand écran désactiver */
    .menu-big{
        display: none;
    }

    .navigation{
        background-color: $color-principal;
        height: $height-navigation-small;
        min-width: 220px;
    }


    /* Affichage du menu pour petit écran activer */
    .menu-small{
        display: flex;
        justify-content: flex-end;
        z-index: 2;
    }

    .menuIconBlock{
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        z-index: 2;
    }
    
    .menuIcon{
        z-index: 2;
        // position: fixed;
    }

    .menu-small-contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        background-color: $color-secondary;
        opacity : 0;
        visibility:hidden;
        transition: opacity .7s ease-in, visibility .7s ease-in;
        position: fixed;
    }

    .nav-txt-small{
        transition: opacity .7s ease-in, visibility .7s ease-in;
    }

    .nav{
        margin-right: 0px;
        border : 0px;
        padding: 0px;
        margin: 15px;
        color : $color-text-secondary;
        font-size: clamp(0.85rem,2.5vw,1.1rem);
    }

    .nav:hover{
        background-color: initial;
        color: $color-text-secondary;
        transition: none;
    }

    .login{
        margin-right: 0px;
        border : 0px;
        background-color: initial;
        padding: 0px;
        margin: 15px;
        color : $color-text-secondary;
        font-size: clamp(0.85rem,2.5vw,1.1rem);
    }

}