@import '../../Theme/variables.scss';

.block-search{
    width: clamp(22rem,26vw,32rem);
    // position: fixed;
}

.search{
    width: 60%;
    padding: 15px;
    // border : 5px solid $color-secondary;
    border-radius : 15px 0px 0px 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    font-size: clamp(0.8rem,1vw,1.1rem);
}


.search:focus{
    outline-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.submit{
    width: 40%;
    padding: 15px;
    background-color: $color-secondary;
    box-shadow: none;
    // border : 5px solid $color-secondary;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 0px 15px 15px 0px;
    font-size: clamp(0.8rem,1vw,1.1rem);

    &:hover{
        cursor: pointer;
        background-color: $color-secondary-light;
    }

    &:focus{
        outline-style: none;
        opacity: 0.93;
    }
}

.icon{
    margin-left: 15px;
    transform: scale(1.7);
}


@media (max-width : 1060px){
    .block-search{
        width: clamp(20rem,50vw,30rem); 
    }
}

@media (max-width : 359px){
    .block-search{
        width: 15rem; 
    }

    .icon{
        display: none;
    }
}



