@import '../../Theme/variables.scss';

.block-search-page{
    width: 80%;
    max-width: 1300px;
}

.search-page{
    width: 50%;
    height: 42px;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(0.8rem,1vw,1.1rem);
    border-radius : 15px 0px 0px 15px;
    border: 1px solid #617980;
    // border-right: none;
}

.search-page:focus{
    outline-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btn-s{
    width: 25%;
    height: 42px;
    font-family: 'Nunito', sans-serif;
    font-size: clamp(0.8rem,1vw,1.1rem);
    font-weight: bold;
    // background-color: #617980;
    background-color: #EBEEEF;
    color: #242D30;
    border: 1px solid #617980;

    &:hover{
        cursor: pointer;
        opacity: 0.73;
    }

    &:focus{
        outline-style: none;
        opacity: 0.73;
    }
}

.btn-s:nth-child(2){
    margin-left: 10px;
}

.btn-s:nth-child(3){
    margin-left: 8px;
    border-radius: 0px 15px 15px 0px;
}

.icon-s{
    transform: scale(1.4);
    margin-right: 8px;
    margin-top:1px;
}

@media (max-width : 1060px){
    .block-search-page{
        width: 100%;
    }
}