$color-principal : #046582;
$color-text-principal : white;
$color-principal-dark : #210482;
$color-secondary : #f39189;
$color-secondary-light:#F49F98;
$color-text-secondary: white;

$text-size-base : 16px;

$height-navigation : 85px;
$height-navigation-big : $height-navigation*1.2;
$height-navigation-small : $height-navigation*0.9;

$largeur : 92%;