$color-principal : #046582;
$color-text-principal : white;
$color-principal-dark : #210482;
$color-secondary : #f39189;
$color-text-secondary: white;

$text-size-base : 16px;

$height-navigation : 85px;