@import '../Theme/variables.scss';

.navigation{
    background-color: $color-principal;
    height: $height-navigation;
}

.nav{
    text-decoration: none;
    padding: 12px;
    color: $color-text-principal;
    border : 2px solid $color-text-principal;
    border-radius: 15px;
    margin-right: 2.4vw;
}

.nav:last-child{
    margin-right: 0px;
}

.nav:hover{
    background-color: $color-text-principal;
    color: $color-principal;
    transition: background-color 1s, color 1s;
}

.title{
    text-decoration: none;
    color:$color-text-principal;
    font-size: clamp(1.6rem,4.5vw,2.7rem);
    -webkit-tap-highlight-color: transparent; 
}

.login{
    text-decoration: none;
    padding: 12px;
    color: $color-text-principal;
    border : 2px solid $color-principal-dark;
    background-color: $color-principal-dark;
    border-radius: 15px;
}


/* Affichage du menu pour petit écran désactiver */
.menu-small{
    display: none;
}
/* ----- */



/* Création de l'icone du menu + éléments d'animations */
.menuIcon{
//   width: clamp(2rem,5vw,2.5rem);
//   height: clamp(0.18rem,0.5vh,0.23rem);
  display: block;
  width: 30px;
  height: 4px;
  background: $color-text-principal;
  border-radius: 5px;
  transition: all .5s ease-in;
}

.menuIcon::before,
.menuIcon::after {
  content: '';
//   display: flex;
//   align-items: center;
//   align-content: center;
  position: absolute;
//   right: calc((100% - #{$largeur)/2);
//   width: clamp(2rem,5vw,2.5rem);
//   height: clamp(0.18rem,0.5vh,0.23rem);
  width: 30px;
  height: 4px;
  background: $color-text-principal;
  border-radius: 5px;
}

.menuIcon::before {
  transform: translateY(-10px);
}
.menuIcon::after {
  transform: translateY(10px);
}

// .menuIconBlock.open .menuIcon {
//   background: transparent;
// }

// .menuIconBlock.open.close .menuIcon {
//   background:$color-text-principal;
// }

// .menuIconBlock.open .menuIcon::before {
//   animation : menuEffectTop .8s forwards;
//   -webkit-animation : menuEffectTop .8s forwards;
// }

// .menuIconBlock.open .menuIcon::after {
//   animation : menuEffectBottom .8s forwards;
//   -webkit-animation : menuEffectBottom .8s forwards;
// }

// .menuIconBlock.open.close .menuIcon::before {
//   animation : menuEffectTopBack .8s forwards;
//   -webkit-animation : menuEffectTopBack .8s forwards;
// }

// .menuIconBlock.open.close .menuIcon::after {
//   animation : menuEffectBottomBack .8s forwards;
//   -webkit-animation : menuEffectBottomBack .8s forwards;
// }


// @keyframes menuEffectTop{
//     40%{
//         transform: translateY(1px);
//     }
//     100%{
//         transform: rotate(45deg);
//     }
// }

// @-webkit-keyframes menuEffectTop{
//     40%{
//         transform: translateY(1px);
//     }
//     100%{
//         transform: rotate(45deg);
//     }
// }

// @keyframes menuEffectTopBack{
//     from{
//         transform: translateY(1px);
//         transform: rotate(45deg);
//     }
//     to{
//         transform: translateY(-10px);
//     }
// }

// @-webkit-keyframes menuEffectTopBack{
//     from{
//         transform: translateY(1px);
//         transform: rotate(45deg);
//     }
//     to{
//         transform: translateY(-10px);
//     }
// }


// @keyframes menuEffectBottom{
//     40%{
//         transform: translateY(-1px);
//     }
//     100%{
//         transform: rotate(-45deg);
//     }
// }

// @-webkit-keyframes menuEffectBottom{
//     40%{
//         transform: translateY(-1px);
//     }
//     100%{
//         transform: rotate(-45deg);
//     }
// }

// @keyframes menuEffectBottomBack{
//     from{
//         transform: translateY(-1px);
//         transform: rotate(-45deg);
//     }
//     to{
//         transform: translateY(10px);
//     }
// }

// @-webkit-keyframes menuEffectBottomBack{
//     from{
//         transform: translateY(-1px);
//         transform: rotate(-45deg);
//     }
//     to{
//         transform: translateY(10px);
//     }
// }

/* ----- */
  

@media (max-width : 1060px){

    /* Affichage du menu pour grand écran désactiver */
    .menu-big{
        display: none;
    }


    /* Affichage du menu pour petit écran activer */
    .menu-small{
        display: flex;
        justify-content: flex-end;
    }

    .menuIconBlock{
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        cursor: pointer;
        // background-color: transparent;
        // border: none;
        -webkit-tap-highlight-color: transparent;
        z-index: 2;
    }
    
    .menuIcon{
        z-index: 2;
    }

    .menu-small-contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        background-color: $color-secondary;
        opacity : 0;
        visibility:hidden;
        transition: opacity .7s ease-in, visibility .7s ease-in;
    }

    .nav{
        margin-right: 0px;
        border : 0px;
        padding: 0px;
        margin: 15px;
        color : $color-text-secondary;
    }

    .nav:hover{
        background-color: initial;
        color: $color-text-secondary;
        transition: none;
    }

    .login{
        margin-right: 0px;
        border : 0px;
        background-color: initial;
        padding: 0px;
        margin: 15px;
        color : $color-text-secondary;
    }

}