.flex{
    display: flex;
    align-items: center;
    align-content: center;
}

.flex-center{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.content{
    width: 95%;
    margin: auto;
}

.nav.current{
    background-color: white;
    color: #046582;
}

.nav.current-small{
    text-decoration: underline;
}