@import './Theme/variables.scss';

.background-white{
    background-color: white;
}

.height-full-adapt{
    min-height: calc(100vh - #{$height-navigation-big});
}

.flex{
    display: flex;
    align-items: center;
    align-content: center;
}

.flex-center{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.content{
    width: $largeur;
    margin: auto;
}

.nav.current{
    background-color: $color-text-principal;
    color: $color-principal;
}

.nav.current-small{
    text-decoration: underline;
}

@media (max-width : 1060px){
    .height-full-adapt{
        min-height: calc(100vh - #{$height-navigation-small});
    }
}


// ACCUEIL

.accueil-flex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
    
}

.block-accueil{
    background-color: $color-principal;
    height: calc(100vh - #{$height-navigation-big});
    min-height: 600px;
    min-width: 200px;
    // text-align: center;
}

.block-accueil-left{
    // width: 50%;
    text-align: center;
}

.block-accueil-right{
    width: 50%;
}

.title-accueil{
    font-size: clamp(2.6rem,5.5vw,5.6rem);
    color: $color-text-principal;
}

.slogan{
    font-size: clamp(1.4rem,2.5vw,2.5rem);
    color: $color-text-principal;
}

.lottie-anim{
    width: clamp(18rem,35vw,34rem);
    margin: auto;
    margin-top: -20px;
}

@media (max-width : 1060px){

    .block-accueil{
        background-color: $color-principal;
        height: 100vh;
        min-width: 200px;
        text-align: center;
        margin-top: -$height-navigation-small;
    }

    .accueil-flex{
        flex-direction: column;
    }

    .block-accueil-left{
        width: 100%;
        margin-bottom: 40px;
    }

}


// RECHERCHE

.block-recherche{
    // height: 130px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}

@media (max-width : 1060px){

    .block-recherche{
        padding-top: 30px;
        padding-bottom: 15px;
    }

}

