@import './Theme/variables.scss';

.flex{
    display: flex;
    align-items: center;
    align-content: center;
}

.flex-center{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.content{
    width: $largeur;
    margin: auto;
}

.nav.current{
    background-color: $color-text-principal;
    color: $color-principal;
}

.nav.current-small{
    text-decoration: underline;
}


// ACCUEIL

.accueil-flex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.block-accueil{
    background-color: $color-principal;
    height: calc(100vh - #{$height-navigation});
    min-height: 600px;
    min-width: 200px;
    text-align: center;
}

.block-accueil-left{
    width: 50%;
}

.title-accueil{
    font-size: clamp(2.5rem,5.5vw,5.4rem);
    color: $color-text-principal;
}

.slogan{
    font-size: clamp(1.3rem,2.5vw,2.4rem);
    color: $color-text-principal;
}

.lottie-anim{
    width: clamp(12rem,40vw,30rem);
    margin: auto;
}

@media (max-width : 1060px){

    .block-accueil{
        background-color: $color-principal;
        height: calc(100vh - #{$height-navigation});
        min-height: 500px;
        min-width: 200px;
        text-align: center;
    }

    .accueil-flex{
        flex-direction: column;
    }

    .block-accueil-left{
        width: 100%;
        margin-top: -$height-navigation;
    }

}


