@import './Theme/variables.scss';

.flex{
    display: flex;
    align-items: center;
    align-content: center;
}

.flex-center{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.content{
    width: 92%;
    margin: auto;
}

.nav.current{
    background-color: $color-text-principal;
    color: $color-principal;
}

.nav.current-small{
    text-decoration: underline;
}