@import './Theme/variables.scss';

html{
  font-size: $text-size-base;
}
body {
  background-color: white;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}