@import './Theme/variables.scss';

html{
  font-size: $text-size-base;
  color: $text-color;
}
body {
  background-color: $color-principal;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  min-width: 275px;
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}